.list-menu {
    margin: 0px 0px;
}

.menu {
    font-size: 24px;
    color: white;
    text-align: center;
    margin-right: 2rem;
}

.item-menu {
    display: none;
}

.menu:hover {
    color: blue;
}

.top {
    height: 80px;
    background-color: rgb(0, 11, 107);
}

.logo {
    margin-top: 4px;
    margin-right: auto;
}

.header {
    margin-top: 80px;
}

@media only screen and (max-width: 780px) {
    .list-menu {
        display: none;
    }
    .item-menu {
        display: block;
    }
}

.lienhe {
    position: fixed;
    right: 2rem;
    top: 20rem;
    bottom: 20rem;
}

.body {
    height: 30rem;
}

.footer {
    height: 120px;
    background-color: rgb(0, 0, 66);
    color: white;
    position: relative;
    bottom: 0px;
}